* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f1624;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* HEADER */

header {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  font-weight: 500;
  margin-top: -6%;
}

.nav-links a {
  color: #d1d1d1;
  margin: 3rem;
  font-size: 1.6rem;
  display: inline-block;
  transition: transform 0.4s ease, color 0.4s ease;
}

.nav-links a:hover {
  color: #fff;
  transform: scale(1.1);
}

.logo img {
  height: 330px;
}

ul {
  list-style: none;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px #00000027;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.5s;
  height: 20px;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

main {
  text-align: center;
  margin-top: -30px;
}

main h1 {
  font-size: 2.7rem;
}

main h2 {
  font-size: 2.5rem;
  margin-bottom: 2.7rem;
}

main p {
  font-size: 1.2rem;
  max-width: 500px;
  font-size: 1.4rem;
  margin: 0 auto;
  color: #bcbcbc;
}

/* ABOUT ME */

.title {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

/* PROJECTS */

.Projects {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 20px;
  margin-top: 780px;
  padding-right: 700px;
}

.ProjectsTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  padding-left: 480px;
}

.Project1,.Project2 {
  width: 100%;
  max-width: 660px;
  margin: 20px auto;
  position: relative;
  background: #0f1624;
  box-shadow: 0px 0px 12px white;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
}

.Project2 {
  margin-left: 135%;
  margin-top: -186%;
}

.Rectangle4 {
  width: 100%;
  height: 400px;
  margin-top: 5%;
  background: #0f1624;
  box-shadow: 0px 0px 12px white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.GradientLine {
  width: 300px;
  height: 4px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 67%, #945dd6 100%);
  border-radius: 83px;
  margin: 20px auto;
}

.Description {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 20px auto;
  width: 80%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 67%, #945dd6 100%);
  border-radius: 83px;
  margin: 20px auto;
  border: none;
  font-size: 17px; /* Tamanho da fonte */
  color: white; /* Cor do texto */
  font-weight: 550;
  letter-spacing: 1px; /* Espaçamento entre letras */
}

/*CURRICULUM*/

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 3% auto;
}

.section,
.section1 {
  margin-bottom: 20px; /* Adiciona 20px de espaço entre as seções */
}

.column-left,
.column-right {
  width: 35%;
}

.section ul li::before,
.section1 ul li::before {
  content: "•"; /* Define o conteúdo como um ponto */
  color: #fff; /* Cor do ponto, pode ajustar conforme necessário */
  margin-right: 8px; /* Espaçamento entre o ponto e o texto */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

ul {
  margin-left: 20px;
  padding-left: 10px;
}

li {
  margin-bottom: 5px;
}

/* FOOTER */

.site-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}

.footer-image {
  display: flex;
  align-items: center;
  height: 170px;
  margin: auto;
}

.logofooter {
  height: 450px;
  width: 450px;
  margin-top: 1.4rem;
}

.footer-right {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px #00000027;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.5s;
  height: 20px;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}
